# ======================
# 🔐 Secrets & Config
# ======================
config.js

# ======================
# 🗂 Archives & Zips
# ======================
*.zip

# ======================
# 🧠 OS junk
# ======================
.DS_Store
**/.DS_Store
**/**/.DS_Store


# # ======================
# # Logs
# # ======================
# *.log
